body {
  margin: 0;
  font-family: "eurostile", sans-serif;
  background-color: #e8f4f8; }

#loadingScreen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  z-index: 101;
  transition: opacity 2s ease-in-out;
  text-align: center; }
  #loadingScreen h1 {
    font-size: 5vh;
    color: white;
    position: fixed;
    top: 60%;
    width: 100%; }
  #loadingScreen .loader {
    border-radius: 50%;
    border-top: 2vh solid #ccf6c8;
    border-right: 2vh solid #f9a959;
    border-bottom: 2vh solid #fea5ad;
    border-left: 2vh solid #c79ac8;
    width: 10vh;
    height: 10vh;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10vh;
    margin-left: -10vh; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#headerSection {
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  #headerSection:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #e8f4f8, transparent);
    z-index: 5; }
  #headerSection .bg {
    border-radius: 0; }
  #headerSection img {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    object-fit: cover;
    pointer-events: none;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35); }
  @media (min-width: 1440px) {
    #headerSection img {
      overflow: hidden;
      position: absolute;
      width: 50vw;
      object-fit: scale-down;
      pointer-events: none;
      border-radius: 1rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35); } }
  #headerSection #skyLayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  #headerSection #titleHeader {
    position: absolute;
    color: white;
    font-size: 7vw;
    z-index: -1;
    text-align: center;
    bottom: 50%; }
  #headerSection #forestLayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; }
  #headerSection #scrollIndicator {
    bottom: 10vh;
    margin: 0 auto;
    position: fixed;
    min-width: 3rem;
    min-height: 5rem;
    border-radius: 35px;
    box-shadow: inset 0 0 0 0.1rem #fff;
    z-index: 99;
    opacity: 0;
    animation: 1s 2s 1 ease-in-out forwards fadeIn; }

@keyframes fadeIn {
  to {
    opacity: 100%; } }
    #headerSection #scrollIndicator:before {
      content: "";
      position: absolute;
      left: 34%;
      top: 10%;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background-color: white;
      opacity: 100%;
      animation: 1.5s infinite ease-in-out scroll; }

@keyframes scroll {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%;
    transform: translateY(275%); } }

#aboutMeSection {
  position: relative;
  margin-top: -20vh;
  z-index: 5; }
  #aboutMeSection .aboutMeCard {
    display: grid;
    padding: 4rem;
    gap: 2rem;
    max-width: 70vw;
    margin: 5rem auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    text-align: center; }
    #aboutMeSection .aboutMeCard #aboutMePortrait img {
      width: 20vw; }
    #aboutMeSection .aboutMeCard #aboutMeParagraph h2 {
      font-weight: 900;
      margin-bottom: 2rem;
      margin-top: -2rem;
      font-size: 3rem; }
    #aboutMeSection .aboutMeCard #aboutMeParagraph .interline {
      text-align: center; }
    #aboutMeSection .aboutMeCard ul {
      list-style-type: none;
      font-size: 2vw;
      text-align: center;
      padding: 0;
      margin-top: -1vw; }
    #aboutMeSection .aboutMeCard .myContactLinksMobile {
      display: none; }
    #aboutMeSection .aboutMeCard .myContactLinks {
      text-align: center;
      grid-column: 1 / span 3; }
      #aboutMeSection .aboutMeCard .myContactLinks .circle {
        text-decoration: none;
        display: inline-block;
        width: 8rem;
        height: 8rem;
        line-height: 8rem;
        border-radius: 50%;
        font-weight: bold;
        margin: 0 2vw;
        color: black; }
      #aboutMeSection .aboutMeCard .myContactLinks .circle:nth-child(1) {
        background: #ccf6c8; }
      #aboutMeSection .aboutMeCard .myContactLinks .circle:nth-child(2) {
        background: #f9a959; }
      #aboutMeSection .aboutMeCard .myContactLinks .circle:nth-child(3) {
        background: #fea5ad; }
      #aboutMeSection .aboutMeCard .myContactLinks .circle:nth-child(4) {
        background: #c79ac8; }

#projectsSection {
  text-align: center;
  margin: 20vh 0; }
  #projectsSection h1 {
    font-size: 2.5rem;
    margin: 10vh 0; }
  #projectsSection .projectsContainer {
    display: grid;
    max-width: 80vw;
    margin: 0 auto;
    grid-gap: 2rem 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr)); }
    #projectsSection .projectsContainer .projectCard {
      display: grid;
      grid-template-rows: 15rem 3rem 1fr 5rem 3rem;
      border-radius: 1rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
      background-color: white; }
      #projectsSection .projectsContainer .projectCard .cardImageContainer img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem; }
      #projectsSection .projectsContainer .projectCard h1 {
        margin: 2rem auto; }
      #projectsSection .projectsContainer .projectCard p {
        margin: 4rem 1rem; }
      #projectsSection .projectsContainer .projectCard .technoContainer {
        margin: 0 0 1rem 0;
        text-align: center; }
        #projectsSection .projectsContainer .projectCard .technoContainer:before {
          content: "";
          border-top: 0.2rem solid #f2f4f7;
          margin: 0.5rem 0 0.5rem 0;
          display: block;
          width: 100%; }
        #projectsSection .projectsContainer .projectCard .technoContainer img {
          max-width: 3rem;
          max-height: 3rem;
          margin: 0 0.5rem; }
      #projectsSection .projectsContainer .projectCard .linksContainer {
        background-color: #f2f4f7;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.3rem;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem; }

/* Tooltip inspired by W3CSchool */
/* https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 1rem;
  width: 5rem;
  top: 100%;
  left: 50%;
  margin-left: -2.5rem;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid black;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent; }

#contactMeSection {
  background-color: #061341; }
  #contactMeSection h1 {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    color: #e8f4f8;
    padding: 10vh 0;
    margin: 0; }
  #contactMeSection #contactMeContainer {
    width: 70vw;
    margin: 0 auto;
    background-color: white;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 15vh 1fr;
    grid-template-areas: "links contactMeForm";
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    padding: 3rem; }
    #contactMeSection #contactMeContainer .myContactLinksMobile {
      display: none; }
    #contactMeSection #contactMeContainer .myContactLinks {
      grid-area: links;
      text-align: center;
      margin-left: 3vh; }
      #contactMeSection #contactMeContainer .myContactLinks .circle {
        text-decoration: none;
        display: inline-block;
        width: 10vh;
        height: 10vh;
        line-height: 10vh;
        border-radius: 50%;
        font-weight: bold;
        margin: 15% 0;
        color: black; }
      #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(1) {
        background: #ccf6c8; }
      #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(2) {
        background: #f9a959; }
      #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(3) {
        background: #fea5ad; }
      #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(4) {
        background: #c79ac8; }
    #contactMeSection #contactMeContainer #contactMeForm {
      grid-area: contactMeForm;
      justify-self: center;
      /* All input from form except the button send */
      /* button send */ }
      #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) {
        margin: 1rem 0; }
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) :focus {
          outline: none;
          background-color: #ededed; }
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) input,
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) textarea {
          border: none;
          border-radius: 25px;
          background-color: lightgray;
          height: 4vh;
          width: 50vw;
          text-indent: 1rem; }
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) textarea {
          resize: none;
          height: 25vh;
          padding-top: 1rem; }
      #contactMeSection #contactMeContainer #contactMeForm div:last-child {
        text-align: center; }
        #contactMeSection #contactMeContainer #contactMeForm div:last-child input {
          color: white;
          background-color: #168ED1;
          cursor: pointer;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
          font-weight: bold;
          padding: 2vw;
          border-radius: 2vw;
          border: none;
          outline: none;
          transition: all 0.5s ease-in-out;
          letter-spacing: 2; }
          #contactMeSection #contactMeContainer #contactMeForm div:last-child input:active {
            outline: none; }
          #contactMeSection #contactMeContainer #contactMeForm div:last-child input:hover {
            background-color: #48b1ec; }
  #contactMeSection p {
    text-align: center;
    font-weight: bold;
    color: #e8f4f8;
    margin: 0;
    padding: 5rem 0 2rem 0; }

@media (max-width: 800px) {
  #loadingScreen .loader {
    border: 2vh solid #f3f3f3;
    border-radius: 50%;
    border-top: 2vh solid  #ccf6c8;
    border-right: 2vh solid #f9a959;
    border-bottom: 2vh solid #fea5ad;
    border-left: 2vh solid #c79ac8;
    width: 2vh;
    height: 2vh;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2vh;
    margin-left: -2vh; }
  #headerSection {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
    #headerSection:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(to top, #e8f4f8, transparent);
      z-index: 5; }
    #headerSection #scrollIndicator {
      display: none; }
  #aboutMeSection {
    position: relative;
    margin-top: -20vh;
    z-index: 5; }
    #aboutMeSection .aboutMeCard {
      display: block;
      padding: 2rem 1rem;
      max-width: 80vw;
      margin: 5rem auto;
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
      text-align: center;
      font-size: 1em; }
      #aboutMeSection .aboutMeCard #aboutMePortrait img {
        width: 75%; }
      #aboutMeSection .aboutMeCard #aboutMeParagraph h2 {
        font-weight: 900;
        margin-bottom: 2rem;
        margin-top: 0;
        font-size: 3rem; }
      #aboutMeSection .aboutMeCard #aboutMeParagraph .interline {
        text-align: center; }
      #aboutMeSection .aboutMeCard #aboutMeHobbies {
        display: none; }
      #aboutMeSection .aboutMeCard .myContactLinks {
        display: none; }
      #aboutMeSection .aboutMeCard .myContactLinksMobile {
        display: block;
        text-align: center; }
        #aboutMeSection .aboutMeCard .myContactLinksMobile a {
          text-decoration: none; }
        #aboutMeSection .aboutMeCard .myContactLinksMobile img {
          max-width: 15%;
          margin: 0 1%; }
  #projectsSection .projectsContainer {
    display: grid;
    max-width: 90vw;
    margin: 0 auto;
    grid-gap: 2rem 1.5rem;
    grid-template-columns: 1fr; }
  #contactMeSection h1 {
    padding: 10vh 0 0 0; }
  #contactMeSection #contactMeContainer {
    width: 80vw;
    height: 150vw;
    margin: 10vw auto;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 1%;
    display: grid;
    grid-template-rows: 70% 20%;
    grid-template-columns: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    grid-template-areas: "contactMeForm" "links"; }
    #contactMeSection #contactMeContainer h1 {
      grid-area: header;
      margin: 1rem 0 0 0;
      justify-self: center; }
    #contactMeSection #contactMeContainer .myContactLinks {
      display: none; }
    #contactMeSection #contactMeContainer .myContactLinksMobile {
      grid-area: links;
      display: block;
      text-align: center;
      justify-self: center;
      margin: 0;
      align-self: center; }
      #contactMeSection #contactMeContainer .myContactLinksMobile a {
        text-decoration: none; }
      #contactMeSection #contactMeContainer .myContactLinksMobile img {
        max-width: 15%;
        margin: 0 1%; }
    #contactMeSection #contactMeContainer #contactMeForm {
      grid-area: contactMeForm;
      justify-self: center;
      width: 90%;
      /* All input from form except the button send */
      /* button send */ }
      #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) {
        margin: 1rem 0; }
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) :focus {
          outline: none;
          background-color: #ededed; }
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) input,
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) textarea {
          border: none;
          border-radius: 25px;
          background-color: lightgray;
          height: 10vw;
          width: 100%;
          text-indent: 1rem; }
        #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) textarea {
          resize: none;
          height: 40%;
          padding-top: 1rem; }
      #contactMeSection #contactMeContainer #contactMeForm div:last-child {
        text-align: center; }
        #contactMeSection #contactMeContainer #contactMeForm div:last-child input {
          color: white;
          background-color: #168ED1;
          cursor: pointer;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
          font-weight: bold;
          padding: 2vw;
          border-radius: 2vw;
          border: none;
          outline: none;
          transition: all 0.5s ease-in-out;
          transition: width 2s; }
          #contactMeSection #contactMeContainer #contactMeForm div:last-child input:active {
            outline: none; } }
