$borderRadiusCard: 1rem;
$breakpointMobile: 800px;
$boxShadow: 0px 2px 4px rgba(0, 0, 0, 0.35);

body{
	margin: 0;
	font-family: "eurostile", sans-serif;
	background-color: lighten(lightblue, 15%);
}

#loadingScreen{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 1;
	z-index: 101;
	transition: opacity 1s ease-in-out;
	text-align: center;

	h1{
		font-size: 5vh;
		color: white;
		position: fixed;
		top: 60%;
		width: 100%;
	}

	// Temporary solution copied from https://www.w3schools.com/howto/howto_css_loader.asp
	.loader {
		border-radius: 50%;
		border-top: 2vh solid #ccf6c8;
		border-right: 2vh solid #f9a959;
		border-bottom: 2vh solid #fea5ad;
		border-left: 2vh solid #c79ac8;
		width: 10vh;
		height: 10vh;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -10vh;
		margin-left: -10vh;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}

#headerSection {
	position: relative;
	width: 100%;
	height: 150vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(to top,  lighten(lightblue, 15%), transparent);
		z-index: 5;
	}

	.bg{
		border-radius: 0;
	}

	img {
		overflow: hidden;
		position: absolute;
		width: 60vw;
		object-fit: cover;
		pointer-events: none;
		border-radius: $borderRadiusCard;
		box-shadow: $boxShadow;
	}

	@media (min-width: 1440px) { 
		img {
			overflow: hidden;
			position: absolute;
			width: 50vw;
			object-fit: scale-down;
			pointer-events: none;
			border-radius: $borderRadiusCard;
			box-shadow: $boxShadow;
		}
	}


	#skyLayer{
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
	}

	#titleHeader {
		position: absolute;
		color: white;
		font-size: 7vw;
		z-index: -1;
		text-align: center;
		bottom: 50%;
	}

	#forestLayer{
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

	#scrollIndicator {
		bottom: 10vh;
		margin: 0 auto;
		position: fixed;
		min-width: 3rem;
		min-height: 5rem;
		border-radius: 35px;
		box-shadow: inset 0 0 0 0.1rem #fff;
		z-index: 99;
		opacity: 0;
		animation: 1s 2s 1 ease-in-out forwards fadeIn;

		@keyframes fadeIn {
			to {
				opacity: 100%;
			}
		}

		&:before{
			content: "";
			position: absolute;
			left: 34%;
			top: 10%;
			width: 1rem;
			height: 1rem;
			border-radius: 100%;
			background-color: white;
			opacity: 100%;
			animation: 1.5s infinite ease-in-out scroll;

			@keyframes scroll {
				0% {
					opacity: 0%;
				}
				50% {
					opacity: 100%;
				}
				100% {
					opacity: 0%;
					transform: translateY(275%);
				}
			}
		}
	}
}  

#aboutMeSection{
	position: relative;
	margin-top: -20vh;
	z-index:5;

	.aboutMeCard {
		display: grid;
		padding: 4rem;
		gap: 2rem;
		max-width: 70vw;
		margin: 5rem auto;
		background-color: white;
		border-radius: 0.5rem;
		box-shadow: $boxShadow;
		text-align: center;
		
		#aboutMePortrait {
			img {
					width: 20vw;
			}
		}

		#aboutMeParagraph {
			h2 {
				font-weight: 900;
				margin-bottom: 2rem;
				margin-top: -2rem;
				font-size: 3rem;
			}

			.interline{
				text-align: center;
			}
		}
		
		ul {
			list-style-type: none;
			font-size: 2vw;
			text-align: center;
			padding: 0;
			margin-top: -1vw;
		}

		.myContactLinksMobile {
			display: none;
		}

		.myContactLinks {
			text-align: center;
			grid-column: 1 / span 3;
			
			.circle {
				text-decoration: none;
				display: inline-block;
				width: 8rem;
				height: 8rem;
				line-height: 8rem;
				border-radius: 50%;
				font-weight: bold;
				margin: 0 1%;
				color: black;
			}

			.circle:nth-child(1) {
				background: #ccf6c8;
			}
			.circle:nth-child(2) {
				background: lighten(#F6830F, 15%);
			}
			.circle:nth-child(3) {
				background: #fea5ad;
			}
			.circle:nth-child(4) {
				background: lighten(#be8abf, 5%);
			}
			.circle:nth-child(5) {
				background: #AFE9FF;
			}
		}
	}
}

#projectsSection {
	text-align: center;
	margin: 20vh 0;

	h1{
		font-size: 2.5rem;
		margin: 10vh 0;
	}

	.projectsContainer {
		display: grid;
		max-width: 80vw;
		margin: 0 auto;
		grid-gap: 2rem 3rem;
		grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));

		.projectCard {
			display: grid;
			grid-template-rows: 15rem 3rem 1fr 5rem 3rem;
			border-radius: $borderRadiusCard;
			box-shadow: $boxShadow;
			background-color: white;
			
			.cardImageContainer {
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					border-top-left-radius: $borderRadiusCard;
					border-top-right-radius: $borderRadiusCard;
				}
			}

			h1 {
				margin: 2rem auto;
			}

			p {
				margin: 4rem 1rem;
			}

			.technoContainer {
				margin: 0 0 1rem 0;
				text-align: center;
				
				&:before {
					content: "";
					border-top: 0.2rem solid #f2f4f7;
					margin: 0.5rem 0 0.5rem 0;
					display: block;
					width: 100%;
				}

				img {
					max-width: 3rem;
					max-height: 3rem;
					margin: 0 0.5rem;
				}
			}

			.linksContainer {
				background-color: #f2f4f7;
				font-weight: bold;
				text-decoration: none;
				font-size: 1.3rem;
				color: black;
				display: flex;
				align-items: center;
				justify-content: center;
				border-bottom-left-radius: $borderRadiusCard;
				border-bottom-right-radius: $borderRadiusCard;
			}
		}
	}
}

/* Tooltip inspired by W3CSchool */
/* https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	font-size: 1rem;
	width: 5rem;
	top: 100%;
	left: 50%;
	margin-left: -2.5rem; /* Use half of the width (120/2 = 60), to center the tooltip */
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 0.5rem 0;
	border-radius: 0.5rem;
	border: 1px solid black;
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}


#contactMeSection {
    background-color: #061341;//darken(lightblue, 20%);
	
	h1 {
		text-align: center;
		font-weight: 900;
		font-size: 4rem;
		color: lighten(lightblue, 15%);
		padding: 10vh 0;
		margin: 0;
	}

	#contactMeContainer {
		width: 70vw;
		margin: 0 auto;
		background-color: white;
		border-radius: 1%;
		display: grid;
		grid-template-columns: 15vh 1fr;
		grid-template-areas:
			"links contactMeForm";
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
		padding: 3rem;

		.myContactLinksMobile {
			display: none;
		}

		.myContactLinks {
			grid-area: links;
			text-align: center;
			margin-left: 3vh;

			.circle {
				text-decoration: none;
				display: inline-block;
				width: 10vh;
				height: 10vh;
				line-height: 10vh;
				border-radius: 50%;
				font-weight: bold;
				margin: 15% 0;
				color: black;
			}

			.circle:nth-child(1) {
				background: #ccf6c8;
			}
			.circle:nth-child(2) {
				background: lighten(#f6830f, 15%);
			}
			.circle:nth-child(3) {
				background: #fea5ad;
			}
			.circle:nth-child(4) {
				background: lighten(#be8abf, 5%);
			}
			.circle:nth-child(5) {
				background:  #AFE9FF;
			}
		}
	
		#contactMeForm {
			grid-area: contactMeForm;
			justify-self: center;
			/* All input from form except the button send */
			div:not(:last-child) {
				margin: 1rem 0;

				:focus {
					outline: none;
					background-color: lighten(lightgray, 10%);
				}

				input,
				textarea {
					border: none;
					border-radius: 25px;
					background-color: lightgray;
					height: 4vh;
					width: 50vw;
					text-indent: 1rem;
				}

				textarea {
					resize: none;
					height: 25vh;
					padding-top: 1rem;
				}
			}

			/* button send */
			div:last-child {
				text-align: center;
				
				input {
					color: white;
					background-color: #168ED1;
					cursor:pointer;
					box-shadow: $boxShadow;
					font-weight: bold;
					padding: 2vw;
					border-radius: 2vw;
					border: none;
					outline: none;
					transition: all 0.5s ease-in-out;
					letter-spacing: 2;

					&:active{
						outline: none;
					}

					&:hover {
						background-color: lighten(#168ED1, 15%);
					}
				}
			}
		}
	}

	p {
		text-align: center;
		font-weight: bold;
		color: lighten(lightblue, 15%);
		margin: 0;
		padding: 5rem 0 2rem 0;
	}
}  

@media (max-width: $breakpointMobile) { 

	#loadingScreen{
		.loader {
			border: 2vh solid #f3f3f3;
			border-radius: 50%;
			border-top: 2vh solid  #ccf6c8;
			border-right: 2vh solid lighten(#F6830F, 15%);
			border-bottom: 2vh solid #fea5ad;
			border-left: 2vh solid lighten(#be8abf, 5%);
			width: 2vh;
			height: 2vh;
			-webkit-animation: spin 2s linear infinite; /* Safari */
			animation: spin 2s linear infinite;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: -2vh;
			margin-left: -2vh;
		}
	}

	#headerSection {
		position: relative;
		width: 100%;
		height: 90vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 50px;
			background: linear-gradient(to top,  lighten(lightblue, 15%), transparent);
			z-index: 5;
		}

		#scrollIndicator {
			display: none;
		}
	}

	#aboutMeSection {
		position: relative;
		margin-top: -20vh;
		z-index:5;

		.aboutMeCard {
			display: block;
			padding: 2rem 1rem;
			max-width: 80vw;
			margin: 5rem auto;
			background-color: white;
			border-radius: 0.5rem;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
			text-align: center;
			font-size: 1em;

			#aboutMePortrait {
				img {
					width: 75%;
				}
			}

			#aboutMeParagraph {
				h2 {
					font-weight: 900;
					margin-bottom: 2rem;
					margin-top: 0;
					font-size: 3rem;
				}
	
				.interline{
					text-align: center;
				}
			}
			
			#aboutMeHobbies{
				display : none;
			}
	
			.myContactLinks {
				display: none;
			}

			.myContactLinksMobile {
				display: block;
				text-align: center;

				a {
					text-decoration: none;
				}

				img {
					max-width: 15%;
					margin: 0 1%;
				}
			}
		}
	}

	#projectsSection {
		.projectsContainer {
			display: grid;
			max-width: 90vw;
			margin: 0 auto;
			grid-gap: 2rem 1.5rem;
			grid-template-columns: 1fr;
		}
	}

	#contactMeSection {

		h1 {
			padding: 10vh 0 0 0;
		}

		#contactMeContainer {
			width: 80vw;
			height: 150vw;
			margin: 10vw auto;
			padding: 2rem 1rem;
			background-color: white;
			border-radius: 1%;
			display: grid;
			grid-template-rows: 70% 20%;
			grid-template-columns: 100%;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
			grid-template-areas:
				"contactMeForm"
				"links";
			
			h1 {
				grid-area: header;
				margin: 1rem 0 0 0;
				justify-self: center;
			}

			.myContactLinks {
				display: none;
			}

			.myContactLinksMobile {
				grid-area: links;
				display: block;
				text-align: center;
				justify-self: center;
				margin: 0;
				align-self: center;

				a {
					text-decoration: none;
				}

				img {
					max-width: 15%;
					margin: 0 1%;
				}
			}
	
			#contactMeForm {
				grid-area: contactMeForm;
				justify-self: center;
				width: 90%;

				/* All input from form except the button send */
				div:not(:last-child) {
					margin: 1rem 0;
	
					:focus {
						outline: none;
						background-color: lighten(lightgray, 10%);
					}
	
					input,
					textarea {
						border: none;
						border-radius: 25px;
						background-color: lightgray;
						height: 10vw; 
						width: 100%;
						text-indent: 1rem;
					}
	
					textarea {
						resize: none;
						height: 40%;
						padding-top: 1rem;
					}
				}
	
				/* button send */
				div:last-child {
					text-align: center;
					
					input {
						color: white;
						background-color: #168ED1;
						cursor:pointer;
						box-shadow: $boxShadow;
						font-weight: bold;
						padding: 2vw;
						border-radius: 2vw;
						border: none;
						outline: none;
						transition: all 0.5s ease-in-out;
						transition: width 2s;
						&:active{
							outline: none;
						}
					}
				}
			}
		}
	}  
}