$borderRadiusCard: 1rem;
$breakpointMobile: 800px;

body{
	margin: 0;
	background: linear-gradient(to bottom, #68a4ca 150vh,#7fc3d4);
}

#headerSection {
	position: relative;
	width: 100%;
	height: 150vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(assets/parallaxHeaderImages/bgHeader.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 0 5rem 0;
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(to top,  #68a4ca, transparent);
		z-index: 10000;
	}

	img {
		overflow: hidden;
		position: absolute;
		width: 60vw;
		object-fit: cover;
		pointer-events: none;
		border-radius: $borderRadiusCard;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
	}

	@media (min-width: 1440px) { 
		img {
			overflow: hidden;
			position: absolute;
			width: 50vw;
			object-fit: scale-down;
			pointer-events: none;
		}
	}

	#vsCodeLayer {
		transform: rotate(15deg);
		bottom: 25%;
		left: 5%;
		z-index: 6;
	}
	
	#sqlDevLayer {
		transform: rotate(-15deg);
		bottom: 25%;
		right: 5%;
		z-index: 5;
	}
	
	#jenkinsLayer {
		transform: rotate(-10deg);
		bottom: 50%;
		left: 5%;
		z-index: 2;
	}

	#kibanaLayer {
		transform: rotate(10deg);
		bottom: 50%;
		right: 5%;
		z-index: 3;
	}

	#titleHeader {
		position: fixed;
		color: white;
		font-size: 10vh;
		top: 30vh;
		z-index: 1;
		text-align: center;
	}

	#scrollIndicator {
		bottom: 10vh;
		margin: 0 auto;
		position: fixed;
		min-width: 3rem;
		min-height: 5rem;
		border-radius: 35px;
		box-shadow: inset 0 0 0 0.1rem #fff;
		z-index: 9999;
		opacity: 0;
		animation: 1s 2s 1 ease-in-out forwards fadeIn;

		@keyframes fadeIn {
			to {
				opacity: 100%;
			}
		}

		&:before{
			content: "";
			position: absolute;
			left: 34%;
			top: 10%;
			width: 1rem;
			height: 1rem;
			border-radius: 100%;
			background-color: white;
			opacity: 100%;
			animation: 1.5s infinite ease-in-out scroll;

			@keyframes scroll {
				0% {
					opacity: 0%;
				}
				50% {
					opacity: 100%;
				}
				100% {
					opacity: 0%;
					transform: translateY(275%);
				}
			}
		}
	}
}  

.aboutMeCard {
	display: grid;
	/* grid-template-columns: 2fr 4fr; */
    padding: 1rem;
    gap: 2rem;
    max-width: 80vw;
    margin: 5rem auto;
    background-color: white;
    border-radius: 0.5rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
	font-size: 1.8vw;
	text-align: center;

	img {
		width: 100%;
	}

	p {
		font-size: 1.4vw;
	}

	.interline{
		text-align: center;
	}

	ul {
		list-style-type: none;
		font-size: 3vw;
		text-align: center;
		padding: 0;
		margin-top: -1vw;
	}

	.myContactLinks {
		text-align: center;
		grid-column: 1 / span 3;
		
		.circle {
			text-decoration: none;
			display: inline-block;
			width: 10vw;
			height: 10vw;
			line-height: 10vw;
			border-radius: 50%;
			font-weight: bold;
			margin: 0 2vw;
			color: black;
		}

		.circle:nth-child(1) {
			background: #ccf6c8;
		}
		.circle:nth-child(2) {
			background: lighten(#F6830F, 15%);
		}
		.circle:nth-child(3) {
			background: #fea5ad;
		}
		.circle:nth-child(4) {
			background: lighten(#be8abf, 5%);
		}
	}
}

#projectsSection {
	background-image: url('assets/projectsImages/projectsBg.jpg');
	padding: 5rem 0;
}

.projectsContainer {
	display: grid;
	max-width: 90vw;
	margin: 0 auto;
	grid-gap: 2rem 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.projectCard {
	display: grid;
	grid-template-rows: 15rem 3rem 1fr 5rem 3rem;
	border-radius: $borderRadiusCard;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
	background-color: white;
	.cardImageContainer {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-top-left-radius: $borderRadiusCard;
			border-top-right-radius: $borderRadiusCard;
		}
	}

	h1 {
		margin: 0.5rem auto;
	}

	p {
		margin: 1rem 0.5rem;
	}

	.technoContainer {
		margin: 0 0 1rem 0;
		text-align: center;
		
		&:before {
			content: "";
			border-top: 0.2rem solid #f2f4f7;
			margin: 0.5rem 0 0.5rem 0;
			display: block;
			width: 100%;
		}

		img {
			max-width: 3rem;
			max-height: 3rem;
			margin: 0 0.5rem;
		}
	}

	/* Tooltip inspired by W3CSchool */
	/* https://www.w3schools.com/css/css_tooltip.asp */
	/* Tooltip container */
	.tooltip {
		position: relative;
		display: inline-block;
	}

	/* Tooltip text */
	.tooltip .tooltiptext {
		visibility: hidden;
		font-size: 1rem;
		width: 5rem;
		top: 100%;
		left: 50%;
		margin-left: -2.5rem; /* Use half of the width (120/2 = 60), to center the tooltip */
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 0.5rem 0;
		border-radius: 0.5rem;
		border: 1px solid black;
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	.tooltip .tooltiptext::after {
		content: " ";
		position: absolute;
		bottom: 100%; /* At the bottom of the tooltip */
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent black transparent;
	}

	.linksContainer {
		background-color: #f2f4f7;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		font-size: 1.3rem;
		color: black;
		padding: 0.5rem;
		display: block;
		border-bottom-left-radius: $borderRadiusCard;
		border-bottom-right-radius: $borderRadiusCard;
	}
}

#contactMeSection {
	height: 90vh;
}

#contactMeSection {
	#contactMeContainer {
		width: 70vw;
		height: 70vh;
		margin: 10vh auto;
		background-color: white;
		border-radius: 1%;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 15vh 1fr;
		grid-template-rows: 1fr 100%;
		grid-template-areas:
		"header header"
		"links contactMeForm";

	h1 {
		grid-area: header;
		justify-self: center;
	}

	.myContactLinks {
		grid-area: links;
		text-align: center;
		.circle {
			text-decoration: none;
			display: inline-block;
			width: 10vh;
			height: 10vh;
			line-height: 10vh;
			border-radius: 50%;
			font-weight: bold;
			margin: 0.5vh 0;
			color: black;
		}

		.circle:nth-child(1) {
			background: #ccf6c8;
		}
		.circle:nth-child(2) {
			background: lighten(#f6830f, 15%);
		}
		.circle:nth-child(3) {
			background: #fea5ad;
		}
		.circle:nth-child(4) {
			background: lighten(#be8abf, 5%);
		}
	}

	#contactMeForm {
		grid-area: contactMeForm;
		justify-self: center;

		/* All input from form except the button send */
		div:not(:last-child) {
			margin: 1rem 0;

			:focus {
				outline: none;
				background-color: lighten(lightgray, 10%);
			}

			input,
			textarea {
				border: none;
				border-radius: 25px;
				background-color: lightgray;
				height: 4vh;
				width: 50vw;
				text-indent: 1rem;
			}

			textarea {
				resize: none;
				height: 20vh;
				padding-top: 1rem;
			}
		}

		/* button send */
		div:last-child {
			text-align: center;

			input {
				font-weight: bold;
				padding: 2vw;
				border-radius: 25px;
				border: none;
				background-color: #ccf6c8;
			}
		}
	}
	}
}  

@media (max-width: $breakpointMobile) { 
	.projectsContainer {
		display: grid;
		max-width: 90vw;
		margin: 0 auto;
		grid-gap: 2rem 1.5rem;
		grid-template-columns: 1fr;
	}
	
	#headerSection {
		position: relative;
		width: 100%;
		height: 90vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url(assets/parallaxHeaderImages/bgHeader.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 0 5rem 0;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 50px;
			background: linear-gradient(to top,  #68a4ca, transparent);
			z-index: 10000;
		}
	
		img {
			display: none;
		}

		#titleHeader {
			position: fixed;
			top: 20%;
			color: white;
			font-size: 5vh;
			text-align: center;
		}

		#scrollIndicator {
			display: none;
		}
	}	
}