$borderRadiusCard: 1rem;

.projectsContainer {
	display: grid;
	max-width: 90vw;
	margin: 0 auto;
	grid-gap: 2rem 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

@media (max-width: 768px){ 
	.projectsContainer {
		display: grid;
		max-width: 90vw;
		margin: 0 auto;
		grid-gap: 2rem 1.5rem;
		grid-template-columns: 1fr;
	}	
}

.projectCard {
	display: grid;
	grid-template-rows: 15rem 3rem 1fr 5rem 3rem;
	border-radius: $borderRadiusCard;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);

	.cardImageContainer {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-top-left-radius: $borderRadiusCard;
			border-top-right-radius: $borderRadiusCard;
		}
	}

	h1 {
		margin: 0.5rem auto;
	}

	p {
		margin: 1rem 0.5rem;
	}

	.technoContainer {
		margin: 0 0 1rem 0;
		text-align: center;

		
		&:before {
			content: "";
			border-top: 0.2rem solid #f2f4f7;
			margin: 0.5rem 0 0.5rem 0;
			display: block;
			width: 100%;
		}

		img{
			max-width: 3rem;
			max-height: 3rem;
			margin: 0 0.5rem;
		}
	}

	/* Tooltip inspired by W3CSchool */
	/* https://www.w3schools.com/css/css_tooltip.asp */
	/* Tooltip container */
	.tooltip {
		position: relative;
		display: inline-block;
	}

	/* Tooltip text */
	.tooltip .tooltiptext {
		visibility: hidden;
		font-size: 1rem;
		width: 5rem;
		top: 100%;
		left: 50%;
		margin-left: -2.5rem; /* Use half of the width (120/2 = 60), to center the tooltip */
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 0.5rem 0;
		border-radius: 0.5rem;
		border: 1px solid black;
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	.tooltip .tooltiptext::after {
		content: " ";
		position: absolute;
		bottom: 100%; /* At the bottom of the tooltip */
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent black transparent;
	}

	.linksContainer {
		background-color: #f2f4f7;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		font-size: 1.3rem;
		color: black;
		padding: 0.5rem;
		display: block;
		border-bottom-left-radius: $borderRadiusCard;
		border-bottom-right-radius: $borderRadiusCard;
	}
}