body {
  margin: 0;
  background: linear-gradient(to bottom, #68a4ca 150vh, #7fc3d4); }

#headerSection {
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5rem 0; }
  #headerSection:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #68a4ca, transparent);
    z-index: 10000; }
  #headerSection .bg {
    border-radius: 0; }
  #headerSection img {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    object-fit: cover;
    pointer-events: none;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35); }
  @media (min-width: 1440px) {
    #headerSection img {
      overflow: hidden;
      position: absolute;
      width: 50vw;
      object-fit: scale-down;
      pointer-events: none;
      border-radius: 1rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35); } }
  #headerSection #skyLayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  #headerSection #titleHeader {
    position: absolute;
    color: white;
    font-size: 7vw;
    z-index: -1;
    text-align: center;
    bottom: 50%; }
  #headerSection #forestLayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3; }
  #headerSection #jenkinsLayer {
    transform: rotate(-10deg);
    bottom: 60%;
    left: 5%;
    z-index: 4; }
  #headerSection #kibanaLayer {
    transform: rotate(10deg);
    bottom: 60%;
    right: 5%;
    z-index: 5; }
  #headerSection #sqlDevLayer {
    transform: rotate(-15deg);
    bottom: 40%;
    right: 5%;
    z-index: 6; }
  #headerSection #vsCodeLayer {
    transform: rotate(15deg);
    bottom: 40%;
    left: 5%;
    z-index: 7; }
  #headerSection #scrollIndicator {
    bottom: 10vh;
    margin: 0 auto;
    position: fixed;
    min-width: 3rem;
    min-height: 5rem;
    border-radius: 35px;
    box-shadow: inset 0 0 0 0.1rem #fff;
    z-index: 9999;
    opacity: 0;
    animation: 1s 2s 1 ease-in-out forwards fadeIn; }

@keyframes fadeIn {
  to {
    opacity: 100%; } }
    #headerSection #scrollIndicator:before {
      content: "";
      position: absolute;
      left: 34%;
      top: 10%;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background-color: white;
      opacity: 100%;
      animation: 1.5s infinite ease-in-out scroll; }

@keyframes scroll {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%;
    transform: translateY(275%); } }

.aboutMeCard {
  display: grid;
  /* grid-template-columns: 2fr 4fr; */
  padding: 1rem;
  gap: 2rem;
  max-width: 80vw;
  margin: 5rem auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  font-size: 1.8vw;
  text-align: center; }
  .aboutMeCard img {
    width: 100%; }
  .aboutMeCard p {
    font-size: 1.4vw; }
  .aboutMeCard .interline {
    text-align: center; }
  .aboutMeCard ul {
    list-style-type: none;
    font-size: 3vw;
    text-align: center;
    padding: 0;
    margin-top: -1vw; }
  .aboutMeCard .myContactLinks {
    text-align: center;
    grid-column: 1 / span 3; }
    .aboutMeCard .myContactLinks .circle {
      text-decoration: none;
      display: inline-block;
      width: 10vw;
      height: 10vw;
      line-height: 10vw;
      border-radius: 50%;
      font-weight: bold;
      margin: 0 2vw;
      color: black; }
    .aboutMeCard .myContactLinks .circle:nth-child(1) {
      background: #ccf6c8; }
    .aboutMeCard .myContactLinks .circle:nth-child(2) {
      background: #f9a959; }
    .aboutMeCard .myContactLinks .circle:nth-child(3) {
      background: #fea5ad; }
    .aboutMeCard .myContactLinks .circle:nth-child(4) {
      background: #c79ac8; }

#projectsSection {
  background-image: url("assets/projectsImages/projectsBg.jpg");
  padding: 5rem 0; }

.projectsContainer {
  display: grid;
  max-width: 90vw;
  margin: 0 auto;
  grid-gap: 2rem 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }

.projectCard {
  display: grid;
  grid-template-rows: 15rem 3rem 1fr 5rem 3rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  background-color: white;
  /* Tooltip inspired by W3CSchool */
  /* https://www.w3schools.com/css/css_tooltip.asp */
  /* Tooltip container */
  /* Tooltip text */
  /* Show the tooltip text when you mouse over the tooltip container */ }
  .projectCard .cardImageContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
  .projectCard h1 {
    margin: 0.5rem auto; }
  .projectCard p {
    margin: 1rem 0.5rem; }
  .projectCard .technoContainer {
    margin: 0 0 1rem 0;
    text-align: center; }
    .projectCard .technoContainer:before {
      content: "";
      border-top: 0.2rem solid #f2f4f7;
      margin: 0.5rem 0 0.5rem 0;
      display: block;
      width: 100%; }
    .projectCard .technoContainer img {
      max-width: 3rem;
      max-height: 3rem;
      margin: 0 0.5rem; }
  .projectCard .tooltip {
    position: relative;
    display: inline-block; }
  .projectCard .tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    width: 5rem;
    top: 100%;
    left: 50%;
    margin-left: -2.5rem;
    /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    border: 1px solid black;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1; }
  .projectCard .tooltip:hover .tooltiptext {
    visibility: visible; }
  .projectCard .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent; }
  .projectCard .linksContainer {
    background-color: #f2f4f7;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    padding: 0.5rem;
    display: block;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }

#contactMeSection {
  height: 90vh; }

#contactMeSection #contactMeContainer {
  width: 70vw;
  height: 70vh;
  margin: 10vh auto;
  background-color: white;
  border-radius: 1%;
  display: grid;
  grid-template-columns: 15vh 1fr;
  grid-template-rows: 1fr 100%;
  grid-template-areas: "header header" "links contactMeForm";
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35); }
  #contactMeSection #contactMeContainer h1 {
    grid-area: header;
    justify-self: center; }
  #contactMeSection #contactMeContainer .myContactLinks {
    grid-area: links;
    text-align: center;
    margin-left: 3vh; }
    #contactMeSection #contactMeContainer .myContactLinks .circle {
      text-decoration: none;
      display: inline-block;
      width: 10vh;
      height: 10vh;
      line-height: 10vh;
      border-radius: 50%;
      font-weight: bold;
      margin: 15% 0;
      color: black; }
    #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(1) {
      background: #ccf6c8; }
    #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(2) {
      background: #f9a959; }
    #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(3) {
      background: #fea5ad; }
    #contactMeSection #contactMeContainer .myContactLinks .circle:nth-child(4) {
      background: #c79ac8; }
  #contactMeSection #contactMeContainer #contactMeForm {
    grid-area: contactMeForm;
    justify-self: center;
    /* All input from form except the button send */
    /* button send */ }
    #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) {
      margin: 1rem 0; }
      #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) :focus {
        outline: none;
        background-color: #ededed; }
      #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) input,
      #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) textarea {
        border: none;
        border-radius: 25px;
        background-color: lightgray;
        height: 4vh;
        width: 50vw;
        text-indent: 1rem; }
      #contactMeSection #contactMeContainer #contactMeForm div:not(:last-child) textarea {
        resize: none;
        height: 20vh;
        padding-top: 1rem; }
    #contactMeSection #contactMeContainer #contactMeForm div:last-child {
      text-align: center; }
      #contactMeSection #contactMeContainer #contactMeForm div:last-child input {
        cursor: pointer;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
        font-weight: bold;
        padding: 2vw;
        border-radius: 2vw;
        border: none;
        background-color: #ccf6c8; }
        #contactMeSection #contactMeContainer #contactMeForm div:last-child input:active {
          outline: none; }

@media (max-width: 800px) {
  .projectsContainer {
    display: grid;
    max-width: 90vw;
    margin: 0 auto;
    grid-gap: 2rem 1.5rem;
    grid-template-columns: 1fr; }
  #headerSection {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5rem 0; }
    #headerSection:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(to top, #68a4ca, transparent);
      z-index: 10000; }
    #headerSection img:not(.bg) {
      display: none; }
    #headerSection #scrollIndicator {
      display: none; } }
