.projectsContainer {
  display: grid;
  max-width: 90vw;
  margin: 0 auto;
  grid-gap: 2rem 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.projectCard {
  display: grid;
  grid-template-rows: 15rem 3rem 1fr 5rem 3rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  /* Tooltip inspired by W3CSchool */
  /* https://www.w3schools.com/css/css_tooltip.asp */
  /* Tooltip container */
  /* Tooltip text */
  /* Show the tooltip text when you mouse over the tooltip container */
}
.projectCard .cardImageContainer img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.projectCard h1 {
  margin: 0.5rem auto;
}
.projectCard p {
  margin: 1rem 0.5rem;
}
.projectCard .technoContainer {
  margin: 0 0 1rem 0;
  text-align: center;
}
.projectCard .technoContainer:before {
  content: "";
  border-top: 0.2rem solid #f2f4f7;
  margin: 0.5rem 0 0.5rem 0;
  display: block;
  width: 100%;
}
.projectCard .technoContainer i {
  font-size: 3em;
  margin: 0 0.5rem;
}
.projectCard .technoContainer .fa-css3-alt {
  color: #2194f0;
}
.projectCard .technoContainer .fa-js-square {
  color: #f7c43a;
}
.projectCard .technoContainer .fa-html5 {
  color: #e96228;
}
.projectCard .technoContainer .fa-python {
  color: #579acd;
}
.projectCard .technoContainer .fa-mobile-alt {
  color: #e04a3a;
}
.projectCard .technoContainer .fa-chrome {
  color: #32a350;
}
.projectCard .technoContainer .fa-node-js {
  color: #84ba41;
}
.projectCard .tooltip {
  position: relative;
  display: inline-block;
}
.projectCard .tooltip .tooltiptext {
  visibility: hidden;
  font-size: 1rem;
  width: 5rem;
  top: 100%;
  left: 50%;
  margin-left: -2.5rem;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid black;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.projectCard .fa-css3-alt.tooltip .tooltiptext {
  background-color: #0e7ad0;
}
.projectCard .fa-js-square.tooltip .tooltiptext {
  background-color: #eaae0a;
}
.projectCard .fa-html5.tooltip .tooltiptext {
  background-color: #c94b15;
}
.projectCard .fa-python.tooltip .tooltiptext {
  background-color: #3781ba;
}
.projectCard .fa-mobile-alt.tooltip .tooltiptext {
  background-color: #c8301f;
}
.projectCard .fa-chrome.tooltip .tooltiptext {
  background-color: #267c3d;
}
.projectCard .fa-node-js.tooltip .tooltiptext {
  background-color: #699434;
}
.projectCard .tooltip:hover .tooltiptext {
  visibility: visible;
}
.projectCard .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.projectCard .linksContainer {
  background-color: #f2f4f7;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  padding: 0.5rem;
  display: block;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
